---
---

@import "{{ site.theme }}";
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #F5F5F5;
        color: #333;
        margin-bottom: 114px;
    }
    header {
        background-color: #0A3161; /* West Virginia Blue */
        color: #CFB53B; /* West Virginia Gold */
        padding: 1em;
        text-align: center;
    }
    h1 {
        margin: 0;
        font-size: 2em;
    }
    .container {
        width: 80%;
        max-width: 800px;
        margin: 2em auto;
        padding: 1em;
        background-color: #FFFFFF;
        border: 1px solid #DDD;
        border-radius: 8px;
        text-align: center;
    }
    footer {
        text-align: center;
        padding: 1em;
        background-color: #0A3161; /* West Virginia Blue */
        color: #CFB53B; /* West Virginia Gold */
        position: fixed;
        width: 100%;
        bottom: 0;
    }
    a {
        color: #CFB53B; /* West Virginia Blue */
    }
    a:hover {
        font-style: italic;
    }
    @media screen and (min-width: 39.688rem) {
        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -60%);
        }
    }
