---
---

@import "{{ site.theme }}";

:root {
/* WV Blue: #0A3161, WV Gold: #CFB53B */
  --links: #0A3161;
}

body {
  background-color: #F5F5F5;
  font: 16px;
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
  color: #222222;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--links);
  font-weight: bold;
}

h1 a:hover, h1 a:focus, h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus, h4 a:hover, h4 a:focus, h5 a:hover, h5 a:focus, h6 a:hover, h6 a:focus {
  color: var(--links);
  font-weight: bold;
  text-decoration: underline;
}

a {
  color: var(--links);
}

a:hover, a:focus {
  color: var(--links);
  font-weight: normal;
  text-decoration: underline;
}

a small {
  font-size: 12px;
  color: var(--links);
}

a:hover small {
  color: var(--links);
  font-weight: normal;
  text-decoration: underline;
}

ul.downloads {
  background: #0A3161;
}

.downloads a {
  font-size: 12px;
  color: var(--links);
}

.downloads a:hover, .downloads a:focus {
  color: var(--links);
}

.downloads ul a:active {
  background-color: var(--links);
}

small {
  font-size: 12px;
}
